# Terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfplan
terraform/crash.log

# Ansible
ansible/*.retry

# AWS credentials
.aws/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log